{{#compareList this '0' operator='=='}}
    <div class="empty-list">
        <div class="message">Você não possui novas notificações.</div>
    </div>
{{else}}
   {{#each this}}
   <div class="notification_wrapper">
       <div class="vertical-line"></div>
        <div class="notification" >
            <div class="vertical-line"></div>
            <div class="info">
                <div class="selection">
                    <input name="options" type="checkbox" id='{{id}}'/>
                    <label for='{{id}}'></label>
                </div> 
                <div class="archive-option">
                    <div class="date">{{createdOn}}</div>
                    <div class="icon" id='{{id}}'></div>
                </div>
                <div>
                    {{#if priority}}
                    <div class="priority-icon"></div>
                    {{/if}}
                </div>
            </div>
            <div class="content">
                <div class="content-body">
                    <div class="icon-and-description">
                        {{#if priority}}
                        <div class="priority-icon"></div>
                        {{/if}}
                        <div class="description">{{description}}</div>
                    </div>
                </div>
                <button class="action">{{callToAction}}</button>
            </div>
        </div>
    </div>
    {{/each}}
{{/compareList}}