{{#compareList this '0' operator='=='}}
    <div class="empty-list">
        <div class="message">Você não possui notificações no Histórico</div>
    </div>
{{else}}
    {{#each this}}
    <div class="notification_wrapper_history">
        <div class="vertical-line"></div>
        <div class="notification notification-history">
            <div class="vertical-line"></div>
            <div class="info">
                <div class="selection">
                    <input name="options" type="checkbox" id="options1"/>
                    <label for="options1"></label>
                </div> 
                <div class="archive-option">
                    <div class="date">{{createdOn}}</div>
                    <div class="icon"></div>
                </div>
                {{#compare detail.priority 'HIGH' operator='=='}}
                <div class="priority-icon"></div>
                {{/compare}}
            </div>
            <div class="content">
                <div class="content-body">
                    <div class="icon-and-description">
                        {{#compare detail.priority 'HIGH' operator='=='}}
                        <div class="priority-icon"></div>
                        {{/compare}}
                        <div class="description">{{detail.description}}</div>
                    </div>
                    <div class="content-footer">Lida em: {{readOn}}</div>
                </div>
                <button class="action">{{detail.action}}</button>
            </div>
        </div>
    </div>
    {{/each}}
{{/compareList}}